.heartDiv,
.heartDivItem {
  display: flex;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ffffff;
  margin-top: -73px;
  margin-left: 90px;
}

.heartDivItem > svg {
  height: 60%;
  width: 60%;
}

.filledHeart > svg {
  color: red;
}

/* .media-wrapper {
  width: 80%;
} */

.movie-pic {
  /* display: none; */
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.addfav-title {
  display: block;
}

@media screen and (min-width: 600px) {
  .movie-pic {
    display: block;
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1000px) {
  .movie-pic {
    display: block;
    width: 350px;
    height: 525px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.title {
  color: white;
}

.header_info {
  color: white;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.genre-div {
  margin: 5px 16px 5px 0;
  margin-bottom: 10px;
  background-color: rgb(36, 123, 180);
  padding: 10px 20px;
  border-radius: 20px;
  width: 70px;
  text-align: center;
  /* display: none; */
}

.genre-div > a {
  color: white;
  text-decoration: none;
}

.runtime {
  padding: 10px 10px 10px 0;
}

.movieContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  margin: auto;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  /* padding */
  height: auto;
  background-size: cover;
}

#itemPicture {
  padding: 30px 20px;
}

@media screen and (max-width: 800px) {
  .runtime {
    margin: 20px 0px;
  }
  .movieContent {
    align-items: center;
  }
  #itemPicture {
    padding: 0;
    padding-top: 20px;
  }
  .genres {
    align-items: center;
  }
}

.media-wrapper {
  padding: 30px 30px;
}

.movieContent {
  padding: 30px 0;
}

@media screen and (min-width: 500px) {
  .genre-div {
    display: block;
    height: auto;
    width: auto;
  }
}

/* .banner-div2,  */
.banner-div,
.banner-img {
  position: absolute;
  width: 100%;
  display: block;
}

.banner-div {
  display: flex;
  height: 700px;
  z-index: -3;
}

/* .banner-div2 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
} */

.banner-img {
  filter: brightness(40%);
  /* background: linear-gradient(0deg, blue, green 40%, red); */
  /* background: linear-gradient(w
  hite, blue); */
  background-size: cover;
  background-blend-mode: darken;
  object-fit: cover;
  height: 100%;
}

@media screen and (min-width: 500px) {
  .banner-div {
    height: 700px;
  }
}

@media screen and (min-width: 800px) {
  .movieContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .banner-div {
    height: 580px;
    /* 
    top:0;
    height: 100%; */
  }

  .banner-img {
    height: 100%;
    /* height: 100vh; */
  }

  #itemPicture {
    margin-left: 50px;
  }

  .media-wrapper {
    margin-right: 50px;
  }
}

/* @media screen and (max-width: 700px) {
  .banner-div,
  .banner-div2 {
    height: 100%;
    width: auto;
  }
} */

.content-div {
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.score-div {
  align-self: center;
  position: relative;
  color: white;
  border-radius: 100%;
}

.heartDivItem:hover {
  background-color: rgb(228, 228, 228);
}

.circle-border {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 110px;
  height: 110px;
  margin-left: 30%;
  border-radius: 100%;
}

.overview {
  letter-spacing: 0.8px;
  line-height: 1.5;
  /* min-width: 40vw; */
}

@media (max-width: 1200px) {
  .addfav-title {
    display: none;
  }
}

@media (max-width: 800px) {
  .addfav-title {
    display: none;
  }
  .adding-fav-loader {
    width: 80px;
    height: 80px;
    padding: 0px 10px;
    padding-bottom: 10px;
    position: absolute;
    background-color: transparent;
    color: rgb(19, 19, 19);
    margin: 148px 110px;
    z-index: 10;
  }
}
