.heartDiv,
.heartDivItem {
  display: inline;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ffffff;
  margin-top: -75px;
  margin-left: 100px;
}

.media-wrapper {
  width: 80%;
}

.movie-pic {
  display: none;
  width: 350px;
  height: 525px;
  object-fit: cover;
  border-radius: 8px;
}


@media screen and (min-width: 1200px) {
  .movie-pic {
    display: block;
    width: 350px;
    height: 525px;
    object-fit: cover;
    border-radius: 8px;
  }

}

.title {
  color: white;
}

.header_info {
  color: white;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: fl; */
}

.genre-div {
  margin: 5px 8px;
  margin-bottom: 10px;
  background-color: rgb(36, 123, 180);
  padding: 10px 20px;
  border-radius: 20px;
  width: 70px;
  text-align: center;
  /* display: none; */
}

.genre-div > a {
  color: white;
  text-decoration: none;
}

.movieContent {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  padding: 30px 30px;
  margin: auto;
  height: auto;
  background-image: url();
}

@media screen and (max-width: 700px) {
  .movieContent {
    align-items: center;
  }
}

.media-wrapper {
  padding-left: 30px;
}

#itemPicture {
  margin-top: 30px;
}

@media screen and (min-width: 500px) {
  .genre-div {
    display: block;
    height: auto;
    width: auto;
    margin-bottom: 20px;
  }
}

/* .banner-div2,  */
.banner-div,
.banner-img {
  position: absolute;
  width: 100%;
  display: block;
}

.banner-div {
  display: flex;
  height: 700px;
  z-index: -3;
}

/* .banner-div2 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
} */

.banner-img {
  filter: brightness(40%);
  object-fit: cover;
  height: 100%;
}

@media screen and (min-width: 500px) {
  .banner-div {
    height: 700px;
  }
  .media-wrapper {
    margin-top: 30px;
  }
}

@media screen and (min-width: 700px) {
  .movieContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .banner-div {
    height: 580px;
  }

  .banner-img {
    height: 100%;
  }

 #itemPicture {
   margin-left: 50px;
 }

 .media-wrapper {
   margin-right: 50px;
 }
}

/* @media screen and (max-width: 700px) {
  .banner-div,
  .banner-div2 {
    height: 100%;
    width: auto;
  }
} */

.content-div {
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.score-div {
  align-self: center;
  position: relative;
  color: white;
  border-radius: 100%;
}

.circle-border {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 110px;
  height: 110px;
  margin-left: 30%;
  border-radius: 100%;
}

.overview {
  letter-spacing: 0.8px;
  line-height: 1.5;
  /* min-width: 40vw; */
}

.adding-fav-loader {
  width: 180px;
  height: 130px;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 150px 40px;
}
