.slider {
  width: 70%;
}

@media (max-width: 750px) {
  .slider {
    display: none;
  }
}

.arrow-icon > svg {
  height: 50px;
  width: 50px;
}

.arrow-button {
  border: none;
  background-color: transparent;
}

.arrow-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 20px;
}