.flexRowJustified {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    overflow: scroll;
  }

  @media (max-width: 750px) {
.flexRowJustified {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
  }
