.navbar {
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: #02175a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 80px;
  transition: top 0.3s;
}

.navbar--hidden {
  top: -50px;
}

.logo-img {
  height: 50px;
}



.logoDiv {
  padding-left: 40px;
  display: flex;
  align-items: center;
  flex: 1;
}

.logoDiv > a {
  text-decoration: none;
}

.topTitle {
  display: block;
  width: 220px;
  margin: 20px;
  text-decoration: overline;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

.topTitle:hover {
  color: #fcc44c;
}

.topTitle:active {
  color: #00b7ff;
}

.mediaNavButton,
.selectedMediaNavButton {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2em;
  height: 40px;
  padding: 10px 10px;
  margin: 10px;
  color: white;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
}

.selectedMediaNavButton {
  color: #fcc44c;
}

.mediaNavButton:hover {
  color: #fcc44c;
}

.userButtons {
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
}

.userButtons > a {
  text-decoration: none;
}

.navButton {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2em;
  height: 40px;
  padding: 10px 10px;
  margin: 10px;
  background-color: #fcc44c;
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
}

#LoginButton {
  background-color: inherit;
  color: white;
}

@keyframes expand {
  0% {
    font-size: 1.2em;
  }
  50% {
    font-size: 1.3em;
  }
  100% {
    font-size: 1.2em;
  }
}

.normal-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1200px) {
  .userButtons {
    width: 100%;
    margin: 20px 0px;
  }

  .mediaNavDiv {
    /* position: relative; */
    /* top: 1000px; */
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .logoDiv {
    justify-content: space-between;
    /* align-content: flex-start; */
  }

  .topTitle {
    display: none;
  }

  .normal-navigation {
    display: none;
  }

  .navButton:hover {
    background-color: #ffae00;
  }

  #LoginButton:hover {
    color: #ffae00;
  }
}

@media (min-width: 1200px) {
  .hamburger-menu,
  .close-menu,
  .mobile-navigation {
    display: none;
  }
  .navButton:hover {
    animation-name: expand;
    animation-duration: 0.5s;
  }
}

.mobile-navigation {
  height: 100px;
  background-color: #1e1eac;
}

.hamburger-menu {
  margin: 20px;
  right: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 40px;
}

.close-menu {
  margin: 25px;
  right: 35px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  margin-right: 45px;
}

@media (max-width:400px) {
  .hamburger-menu {
    height: 40px;
    width: 40px;
  }
  .close-menu {
    height: 30px;
    width: 30px;
  }
}


@media (max-width: 1200px) {
  .navbar {
    height: 64px;
  }

  .logo-img {
    height: 40px;
  }

  .mobile-navigation {
    position: absolute;
    right: 0;
    margin-top: 64px;
    z-index: -10
  }
}