.movies-tagnav {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  margin-top: 20px;
  width: 100%;
  /* min-width: 720px; */
  align-self: center;
  background-color: rgb(246, 246, 246);
  box-shadow: 3px 3px 8px 2px rgba(157, 156, 156, 0.3);
  border-radius: 8px;
  min-height: 80px;
}

.movies-tagnav > a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .movies-tagnav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .tagnav-line {
    display: none;
  }
  .tagnav-button {
    padding: 40px;
  }
}

@media (max-width: 900px) {
  .movies-tagnav {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.tagnav-button {
  background-color: transparent;
  font-size: 1.2em;
  height: 50px;
  width: 160px;
  padding: 0px 20px;
  margin: 0 10px;
  padding-top: 10px;
  border-style: none;
  cursor: pointer;
  /* color: white */
}

.tagnav-button:hover {
  /* background-color: transparent; */
  font-weight: 600;
  color: blue;
  font-size: 1.2em;
  padding: 0px 20px;
  /* border: none; */
}

.tagnav-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagnav-line {
  width: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
}
